body {
  font-family: "Verdana", sans-serif;
}

a {
  text-decoration: none;
}


.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (max-width: 1035px) {
  .block h1,
.et-slide h1 {
    font-size: 3rem;
  }
  .block h3,
.et-slide h3 {
    font-size: 1rem;
  }

  .block {
    display: block;
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;

  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  }

  .block:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}
}

@media only screen and (max-width: 716px) {

#banner-start {
  width: 100%;
  height: 25%;


 }


 .et-hero-tabs h1,
.et-slide h1 {
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

}

@media only screen and (min-width: 716px) {

#banner-start {
  width: 80%;
  height: 25%;


 }

 @media only screen and (min-width: 904px) {

#banner-start {
  width: 70%;
  height: 25%;


 }

 @media only screen and (min-width: 1024px) {

#banner-start {
  width: 70%;
  height: 25%;


 }

 @media only screen and (min-width: 1324px) {

#banner-start {
  width: 40%;
  height: 25%;


 }


}






/* NEW UPDATE */
 .fa {  
  padding: 20px;  
text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 50px;  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}  
.fa-snapchat-ghost {  
  background: #fffc00;  
  color: white;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}  
.fa-skype {  
  background: #00aff0;  
  color: white;  
}  
.fa:hover {  
    opacity: 0.9;  
}  

/* NEW UPDATE */  





.relativeone {
  position: relative;
}




.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;

  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}



.block:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}